body {
    background-color: #ebfbff;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 50px;
}

.detail {
    display: flex;
    justify-content: space-around;
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 3em;
}

/* div.detail > div {
    margin-left: 2em;
    margin-right: 1em;
} */

@media (max-width: 1400px) {
    main {
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media (max-width: 1250px) {
    main {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width: 1150px) {
    main {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media (max-width: 1000px) {
    main {
        display: block;
    }

    .detail {
        display: block;
    }
}

