.page-slogan {
    background-repeat: no-repeat;
    /*todo: responsive*/
    background-size: cover;
    z-index: -999;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #f4f4f4;
    background-image: url('../img/home/home-background.jpg');
}

.page-slogan__content {
    z-index: 2;
}

.page-slogan__btn {
    position: relative;
    height: 70px;
    width: 200px;
    background: linear-gradient(to right, #ff7e00 0%, #ffb63a 100%);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.page-slogan__btn::before {
    position: absolute;
    content: "";
    right: 0;
    height: 100%;
    border-radius: 50px;
    width: 0%;
    box-sizing: border-box;
    background-color: var(--black-text-color);
    -webkit-transition: 300ms all linear 0ms;
    -khtml-transition: 300ms all linear 0ms;
    -moz-transition: 300ms all linear 0ms;
    -ms-transition: 300ms all linear 0ms;
    -o-transition: 300ms all linear 0ms;
    transition: 300ms all linear 0ms;
}

/*.page-slogan__btn:hover::before {*/
/*    left: 0;*/
/*    width: 100%;*/
/*}*/

.page-slogan__btn-link {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--primary-text-color);
}

.page-slogan__btn-link-icon {
    transition: all linear 0.5s;
    margin-left: 10px;
}

.page-slogan__btn:hover .page-slogan__btn-link {
    color: var(--white-color);
}

.page-slogan__btn:hover .page-slogan__btn-link-icon {
    transform: translateX(10px);
}

.page-slogan__heading {
    font-size: 7.2rem;
    font-weight: 500;
}

.page-slogan__paragraph {
    font-size: 2.1rem;
    font-weight: 400;
    color: var(--text-color);
}

.page-slogan__img img {
    animation: moveLeftRight 2.5s linear infinite;
    width: 100%;
}


/*about */

.about__img {
    text-align: center;
}

.about__img img {
    animation: moveTopBot 2.5s linear infinite;
    width: 100%;
}

.about-description {
    padding: 60px 0 10px;
}

.about-description__subheading {
    font-size: 2rem;
    color: var(--primary-text-color);
}

.about-description__heading {
    margin-top: 40px;
    font-size: 5.4rem;
    font-weight: 700;
}

.about-description__heading span {
    font-weight: 300;
    line-height: 0.9;
}

.about-description__paragraph {
    margin-top: 50px;
    font-size: 2.1rem;
    color: var(--text-color);
    font-weight: 300;
}


/*main about*/

.about-item {
    padding-top: 28px;
    display: flex;
    align-items: center;
}

.about-item__icon-wrapper {
    height: 100px;
    min-width: 100px;
    background-color: var(--background-color);
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-item__icon-wrapper .overlay {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

.about-item__icon-wrapper .overlay:hover {
    background-color: transparent;
    transition: 0.3s;
}

.about-item__icon-wrapper .overlay::before {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #ff7e00 0%, #ffb63a 70%);
    top: 50px;
    bottom: 50px;
    right: 50px;
    left: 50px;
    opacity: 1;
    border-radius: 50px;
    z-index: -1;
    transition: 0.5s;
}

.about-item__icon-wrapper .overlay:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    z-index: -1;
}

.about-item__icon {
    font-size: 48px;
    color: var(--primary-text-color);
    transition: 0.3s;
}

.about-item__icon-wrapper .overlay:hover .about-item__icon {
    color: var(--white-color);
}

.about-item__content {
    margin-left: 40px;
}

.about-item__title {
    font-size: 4rem;
    font-weight: 500;
}

.about-item__paragraph {
    margin-top: 10px;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 300;
}

@keyframes moveLeftRight {

    0%,
    100% {
        transform: translateX(30px);
    }

    50% {
        transform: translateX(0);
    }
}

@keyframes moveTopBot {

    0%,
    100% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(0);
    }
}

/*MODAL-------------------*/
.modal{
    display: block;
}
.modal-body {
    padding: 20px 30px !important;
    border-radius: 0;
    position: relative;
}
.modal__close{
    position: absolute;
    top: 10px;
    right: 10px;

}
.modal__close i{
    font-size: 2rem;
}
.modal__close i:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.modal__body .row{
    padding: 20px!important;
    color: red;
}
.modal__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #212529;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .15s linear;
}

.modal__body {
    --growth-form: 0.5;
    --growth-to: 1;
    margin: 200px auto auto;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    z-index: 100;
    animation: growth linear 0.1s;
}

.modal__container {
    margin: 0 !important;
    padding: 40px 20px;
}



/*RESPONSIVE------------------------*/


@media (min-width:1200px) {
    .c-20 {
        flex: 0 0 auto;
        width: 20% !important;
    }

    /*about*/
}

@media (max-width: 1200px) {

    /*page slogan*/
    .page-slogan .container-fluid {
        position: relative;
    }

    .page-slogan {
        background-position: -200px;
    }

    .page-slogan__img {
        position: absolute;
        z-index: 1;
    }

    /*about*/
    .about__img img {
        width: 60%;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {
    .page-slogan__img {
        top: 0;
        right: 5px;
    }

    /*about*/


}

@media (max-width: 992px) {
    .about-item__icon-wrapper {
        height: 60px;
        min-width: 60px;
    }

    .about-item__icon {
        font-size: 2.4rem !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .page-slogan__img {
        top: 0;
        right: 5px;
    }

    /*about*/
    .about-description__subheading {
        font-size: 1.8rem;
    }

    .about-description__heading {
        font-size: 4rem;
        padding-right: 10px;
    }

    .about-description__paragraph {
        font-size: 1.2rem;
    }

    .about-item__title {
        font-size: 3.2rem;
    }
}

@media (max-width: 768px) {
    .page-slogan__img {
        bottom: -160px;
        right: 10px;
    }

    .page-slogan__paragraph {
        font-size: 1.4rem;
    }

    .page-slogan__btn {
        width: 150px;
    }

    .page-slogan__btn-link {
        font-size: 1.2rem;
    }

    /*about*/
    .about-description__subheading {
        font-size: 1.5rem;
    }

    .about-description__heading {
        font-size: 3rem;
        padding-right: 10px;
    }

    .about-description__paragraph {
        font-size: 1rem;
    }

    .about-item__title {
        font-size: 2.8rem;
    }
}



@media (min-width: 576px) and (max-width: 768px) {
    .page-slogan__heading {
        font-size: 5.5rem;
    }

    /*about*/

}

@media (max-width: 576px) {
    .col-ssm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-ssm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .page-slogan__heading {
        font-size: 3.5rem;
    }

    /*about*/
    .about-item__title {
        font-size: 2rem;
    }

    .about-item__icon-wrapper {
        height: 40px;
        min-width: 40px;

    }

    .about-item__icon {
        font-size: 1.8rem !important;
    }
}

@media (max-width: 450px) {

    /*page*/
    .page-slogan__heading {
        font-size: 3rem;
    }

    /*about*/
    .about-description__subheading {
        font-size: 1.2rem;

    }

    .about-description__heading {
        font-size: 2.5rem;
    }

    /*about*/
    .about-item__title {
        font-size: 1.5rem;
    }

    .about-item__icon-wrapper {
        height: 30px;
        min-width: 30px;

    }

    .about-item__icon {
        font-size: 1.2rem !important;
    }

    .about-item__paragraph {
        font-size: 1rem;
    }
}
